<ion-app>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start" style="z-index: 100;">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;text-align: center;">
        <p>Pengaturan Tempat Kursus</p>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid>
        <ion-row style="height: 100%;">
          <ion-col >
            <ion-card class="ion-text-center">
              <ion-item>
                <ion-label>Nama: </ion-label>
                <ion-input [(ngModel)]="nama" placeholder="Masukkan nama"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Informasi:</ion-label>
                <ion-textarea style="height: 100%;" class="ion-text-wrap" [(ngModel)]="informasi"
                placeholder="Masukkan informasi"></ion-textarea>
              </ion-item>
              <ion-item>

                <ion-label>Alamat:</ion-label>
                <ion-input text-wrap [(ngModel)]="alamat" placeholder="Masukkan alamat anda"></ion-input> <br>

              </ion-item>
              <ion-item>
                <ion-label position="fixed">Provinsi:</ion-label>
                <ion-input placeholder="Masukkan provinsi" [(ngModel)]="provinsi"></ion-input>

              </ion-item>

              <ion-item>
                <ion-label>Kota: </ion-label>
                <ion-input placeholder="Masukkan kota" [(ngModel)]="kota"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Kecamatan: </ion-label>
                <ion-input placeholder="Masukkan kecamatan" [(ngModel)]="kecamatan" (change)="onSelectKecamatan($event)"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Kelurahan: </ion-label>
                <ion-input placeholder="Masukkan kelurahan" [(ngModel)]="kelurahan"></ion-input>
              </ion-item>
              <ion-button (click)="editProfil()">Simpan</ion-button>
            </ion-card>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-card>
              <img src="http://localhost:8888/db_ta/{{gambar}}" alt="">
              <ion-input type="file" (change)="onFileSelected($event)" name="gambar">Unggah Foto Baru
              </ion-input>
              <ion-button (click)="editFoto()">Simpan Foto</ion-button>
            </ion-card>
            <br> <br>
            <ion-card>
              <a href="http://localhost:8888/db_ta/{{dokumen_tambahan}}">Lihat Dokumen</a>
              <ion-input text-wrap type="file" (change)="onFileSelected2($event)" name="gambar">Unggah Dokumen Baru
              </ion-input>
              <ion-button (click)="editDokumen()">Simpan Dokumen</ion-button>
            </ion-card>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-card>
              <h2>Bidang Keahlian</h2>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-list>
                      <ion-item *ngFor="let item of keahlian_list; let i = index" value="{{item.idkeahlian}}">
                        <ion-checkbox [(ngModel)]="keahlianDipilih[i]"></ion-checkbox>
                        <ion-label>{{item.nama}}</ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-padding">
                  <ion-button (click)="editKeahlian()">Edit Keahlian</ion-button>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-card >
              <ion-title>Ganti Kata Sandi</ion-title>
              <ion-item >
                <ion-label position="floating">Kata Sandi Baru: <br></ion-label>
                <ion-input placeholder="Masukkan kata sandi" [(ngModel)]="pass_baru"></ion-input>
              </ion-item>
              <ion-button (click)="editPassword()">Update</ion-button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-content>

  </ion-router-outlet>

</ion-app>