<ion-app>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start" style="z-index: 100;">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;text-align: center;">
        <p>Pengaturan Tempat Kursus</p>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-grid>
        <ion-row style="height: 100%;">
          <ion-col style="border: 2px black solid; height: 100%;" class=ion-text-center>
            <ion-item class="ion-padding">
              <ion-label position="floating">Nama:</ion-label>
              <ion-input [(ngModel)]="nama" placeholder="{{nama}}"></ion-input>
            </ion-item>
            <ion-item class="ion-padding">
              <ion-label position="floating">Informasi:</ion-label>
              <ion-textarea style="height: 100%;" class="ion-text-wrap" [(ngModel)]="informasi"
                placeholder="{{informasi}}"></ion-textarea>
            </ion-item>
            <ion-item class="ion-padding">

              <ion-label position="floating">Alamat Tempat Kursus</ion-label>
              <ion-input [(ngModel)]="alamat" placeholder="Masukkan alamat anda"></ion-input> <br>

            </ion-item>
            <ion-item class="ion-padding">
              <ion-label position="fixed">Provinsi:</ion-label>
              <select required [(ngModel)]="provinsi" (change)="onShowKotaKab($event)">
                <option hidden>{{provinsi}}</option>
                <option *ngFor="let item of provinsi_list" value="{{item.id}}_{{item.nama}}">{{item.nama}}</option>
              </select>
            </ion-item>

            <ion-item class="ion-padding">
              <ion-label>Kota: </ion-label>
              <!-- <ion-input [(ngModel)]="kota"></ion-input> -->
              <select required [(ngModel)]="kota" (change)="onShowKecamatan($event)">
                <!-- <option selected="true " disabled value="{{item.id}}_{{item.nama}}">cok</option> -->
                <option hidden>{{kota}}</option>
                <option *ngFor="let item of kota_list" value="{{item.id}}_{{item.nama}}">{{item.nama}}</option>
              </select>
            </ion-item>
            <ion-item class="ion-padding">
              <ion-label>Kecamatan: </ion-label>
              <select required [(ngModel)]="kecamatan" (change)="onShowKelurahan($event)">
                <option hidden>{{kecamatan}}</option>
                <option *ngFor="let item of kecamatan_list" value="{{item.id}}_{{item.nama}}">{{item.nama}}</option>
              </select>
              <!-- <ion-input [(ngModel)]="kecamatan"  (change)="onSelectKecamatan($event)"></ion-input> -->
            </ion-item>
            <ion-item class="ion-padding">
              <ion-label>Kelurahan: </ion-label>
              <select required [(ngModel)]="kelurahan">
                <option hidden>{{kelurahan}}</option>
                <option *ngFor="let item of kelurahan_list" value="{{item.id}}_{{item.nama}}">{{item.nama}}</option>
              </select>
            </ion-item>
            <!-- <ion-item class="ion-padding">
              <ion-label position="floating">No. Telepon</ion-label>
              <ion-input type="tel" placeholder="888-888-8888" required [(ngModel)]="telepon"></ion-input>
            </ion-item> -->

            <ion-button (click)="editProfil()">Simpan</ion-button>
          </ion-col>

          <ion-col style="border: 2px red solid;" class="ion-text-center">
            <ion-card>
              
                <img src="http://localhost:8888/db_ta/{{gambar}}" alt="">
                <ion-input type="file" (change)="onFileSelected($event)" name="gambar">Unggah Foto Baru
                </ion-input>
                <ion-button (click)="editFoto()">Simpan Foto</ion-button>
            
             
            </ion-card>


            <br> <br>
            <ion-card>
                <a href="http://localhost:8888/db_ta/{{dokumen_tambahan}}">Lihat Dokumen</a>
                <ion-input text-wrap type="file" (change)="onFileSelected2($event)" name="gambar">Unggah Dokumen Baru
                </ion-input>
                <ion-button (click)="editDokumen()">Simpan Dokumen</ion-button>
            
             
            </ion-card>
          






          </ion-col>
          <ion-col style="border: 2px red solid;" class="ion-text-center">
            <h2>Bidang Keahlian</h2>

            <!-- <ion-item> -->
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-list>
                    <ion-item *ngFor="let item of keahlian_list; let i = index" value="{{item.idkeahlian}}">
                      <ion-checkbox [(ngModel)]="keahlianDipilih[i]"></ion-checkbox>
                      <ion-label>{{item.nama}}</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-col>

              </ion-row>

            </ion-grid>
            <ion-item class="ion-padding">
              <ion-button (click)="editKeahlian()">Edit Keahlian</ion-button>

            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-content>

  </ion-router-outlet>

</ion-app>