<ion-app>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start" style="z-index: 100;">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;text-align: center;">
        <p>Profil Diri </p>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid>
        <ion-row style="height: 100%;">
          <!-- <ion-col size-lg="6" size-sm="12">
           -->
          <ion-col class=ion-text-center>
            <ion-card>
              <ion-item>
                <ion-label>Nama:</ion-label>
                <ion-input [(ngModel)]="nama" placeholder="{{nama}}"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Jenis Kelamin: </ion-label> <br>
                <select selected="{{jenisKelamin_dipilih}}" required [(ngModel)]="jenisKelamin_dipilih">
                  <option value="Pria">Pria</option>
                  <option value="Wanita">Wanita</option>
                </select>
              </ion-item>
              <ion-item>
                <ion-label>No. Telepon : </ion-label>
                <ion-input type="tel" placeholder="{{telepon}}" required [(ngModel)]="telepon"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Jenjang Terakhir:</ion-label> <br>
                <select selected="{{jenjang_dipilih}}" required [(ngModel)]="jenjang_dipilih">
                  <option value="SMA">SMA</option>
                  <option value="D3">D3</option>
                  <option value="S1">S1</option>
                  <option value="S2">S2</option>
                  <option value="S3">S3</option>
                </select>
              </ion-item>
              <ion-item>
                <ion-label>Tempat Jenjang Terakhir:</ion-label> <br>
                <ion-input type="text" placeholder="Masukkan nama tempat pendidikan terakhir" required
                  [(ngModel)]="tempat_pendidikan"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Tanggal Lahir: </ion-label>
                <ion-datetime [value]="tgl_lahir" (ionChange)="setTanggalLahir($event)" presentation="date">
                </ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>Alamat:</ion-label>
                <ion-input [(ngModel)]="alamat"></ion-input> <br>
              </ion-item>
              <ion-item>
                <ion-label>Provinsi: </ion-label>
                <ion-input [(ngModel)]="provinsi"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Kota: </ion-label>
                <ion-input [(ngModel)]="kota"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Kecamatan: </ion-label>
                <ion-input [(ngModel)]="kecamatan"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Kelurahan: </ion-label>
                <ion-input [(ngModel)]="kelurahan"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Pengalaman Anda: </ion-label> <br>
                <ion-textarea [(ngModel)]="pengalaman"> </ion-textarea>
              </ion-item>
<ion-item class="ion-padding">
  <ion-button (click)="editProfil()">Simpan</ion-button>

</ion-item>

            </ion-card>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-card>
              <img class="foto-profil" src="https://tugas-akhir-bella.my.id/{{gambar}}" alt="">
              <ion-input type="file" (change)="onFileSelected($event)">Unggah Foto Baru
              </ion-input>
              <ion-button (click)="editFoto()">Simpan Foto</ion-button>
            </ion-card>
            <br> <br>
            <ion-card>
              <a href="https://tugas-akhir-bella.my.id/{{berkas_cv}}">Lihat Dokumen</a>
              <ion-input text-wrap type="file" (change)="onFileSelected2($event)">Unggah CV Baru
              </ion-input>
              <ion-button (click)="editDokumen()">Simpan Dokumen</ion-button>
            </ion-card>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-card>
                    <h2>Bidang Keahlian</h2>
                    <ion-list>
                      <ion-item *ngFor="let item of keahlian_list; let i = index" value="{{item.idkeahlian}}">
                        <ion-checkbox [(ngModel)]="keahlianDipilih[i]"></ion-checkbox>
                        <ion-label text-wrap>{{item.nama}}</ion-label>
                      </ion-item>
                    </ion-list>
                    <ion-item class="ion-padding">
                      <ion-button (click)="editKeahlian()">Edit Keahlian</ion-button>
                    </ion-item>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-card>
              <ion-title>Ganti Kata Sandi</ion-title>
              <ion-item>
                <ion-label position="floating">Kata Sandi Baru: <br></ion-label>
                <ion-input placeholder="Masukkan kata sandi" [(ngModel)]="pass_baru"></ion-input>
              </ion-item>
              <ion-item class="ion-padding">
                <ion-button (click)="editPassword()">Update</ion-button>

              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-router-outlet>
</ion-app>