<ion-app>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start" style="z-index: 100;">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;text-align: center;">
        <p>Profil Diri </p>
      </ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid>
        <ion-row text-wrap>
          <!-- <ion-col size="8"> -->
          <ion-col size-lg="6" size-sm="12">
            <ion-card>
              <ion-item  class="ion-padding" >
                  <img  class="foto-profil" src="https://tugas-akhir-bella.my.id/{{gambar}}" alt="">
              </ion-item>
              <ion-item class="ion-padding">
                <h1>Saldo: {{saldo}}</h1>
              </ion-item>
              <ion-item class="ion-padding">
                <ion-label text-wrap >Email: {{email}}</ion-label>
              </ion-item>
              <ion-item class="ion-padding">
                <ion-label text-wrap >Nama Guru Privat : {{nama}}</ion-label>
              </ion-item>
              <ion-item class="ion-padding">
                <ion-label text-wrap>Jenis Kelamin: {{jenis_kelamin}}</ion-label> <br>
              </ion-item>
              <ion-item class="ion-padding">
                <ion-label text-wrap >No. Telepon : {{telepon}}</ion-label>
              </ion-item>
              <ion-item class="ion-padding">
                <ion-label>Bidang keahlian: 
                  <ion-label text-wrap *ngFor="let item of keahlian; let i=index "> {{item.nama}}</ion-label>
                </ion-label>
              </ion-item>
              <ion-item class="ion-padding">
                <ion-label text-wrap>Jenjang Terakhir: {{jenjang}}</ion-label> <br>
              </ion-item>
              <ion-item class="ion-padding">
                <ion-label text-wrap>Tempat Jenjang Terakhir:{{tempat_pendidikan}}</ion-label> <br>
              </ion-item>
              <ion-item class="ion-padding">
                <ion-label text-wrap>Tanggal Lahir: {{tgl_lahir}} </ion-label>
              </ion-item>
              <ion-item class="ion-padding">
                <ion-label text-wrap >Alamat: {{alamat}}, Kecamatan {{kecamatan}}, Kelurahan {{kelurahan}} </ion-label>
              </ion-item >
           <ion-item class="ion-padding-start">
            <capacitor-google-maps #maps>Loading Google Maps</capacitor-google-maps>

           </ion-item>
           
              <ion-item class="ion-padding">
                <ion-label text-wrap>Pengalaman Anda: {{pengalaman}}</ion-label>
              </ion-item>
              <ion-item class="ion-padding" >
                <ion-button  routerLink="/pengaturan-guru-privat">Edit Profil</ion-button>
              </ion-item>
            </ion-card>
          </ion-col>

          <ion-col class="ion-text-center">
            <ion-card>
              <ion-title>Ulasan</ion-title>
              <ionic-rating-component class="ion-padding-start" [(ngModel)]="valRate"
                readonly="true"></ionic-rating-component>
              <ion-scroll scrollY="true">
                <ion-list *ngFor="let item_komen of komentars; let i=index">
                  <ion-item>
                    <ion-text>{{item_komen.komentar}}</ion-text>
                  </ion-item>
                </ion-list>
              </ion-scroll>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-router-outlet>
</ion-app>