<ion-app>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start" style="z-index: 100;">
        <ion-back-button defaultHref="/kursus-orang-tua"></ion-back-button>
      </ion-buttons>
      <ion-title style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;text-align: center;">
        <p>Detail Kontrak Anda dengan Guru Privat</p>
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card>
        <img height="150px;" src="https://tugas-akhir-bella.my.id/{{gambar}}" alt="">
        <ion-item>
          <b>{{nama_guru}}</b>
        </ion-item>
        <ion-item>
          <ion-title>Status Kursus: {{status}}</ion-title>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-col>
              <ion-row>
                <ion-title>Kesepakatan dengan Guru Privat:</ion-title>
              </ion-row>
              <ion-row class="ion-padding-start">Kontrak terjadi pada tanggal: {{tanggal_kontrak | date: 'dd/MM/yyyy'}} </ion-row>
              <ion-row class="ion-padding-start">Berisikan: {{kesepakatan}} </ion-row>
            </ion-col>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-title>Biaya jasa yang disetujui: Rp. {{biaya_jasa}} <br></ion-title>
        </ion-item>
        <ion-item>
          <ion-title>Pembayaran melalui: {{bank}} ({{no_rek}})</ion-title>
        </ion-item>
      </ion-card>
    </ion-content>

  </ion-router-outlet>

</ion-app>