<ion-app>

  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start" style="z-index: 100;">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;text-align: center;">
        <p>Pusat Bantuan</p>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card>
        <ion-item>
          <ion-grid>
            <ion-col>
              <ion-row size-lg="2" size-sm="6" size-xs="6" size-md="6">
                <ion-title>Bagaimana cara mendapatkan guru privat?</ion-title>
              </ion-row>
              <ion-row size-lg="2" size-sm="6" size-xs="6" size-md="6">
                <div>
                  <ion-item>
                    <ion-label class="ion-text-wrap">
                      <b>Cara mendapatkan guru privat yaitu dengan melakukan kontrak pada aplikasi E-kursus.
                        Anda dapat melakukan dengan cara berikut :</b>
                    </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label class="ion-text-wrap">
                      1. Melakukan registrasi jika belum mempunyai akun. Lalu Anda dapat melakukan login. <br />
                    </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label class="ion-text-wrap">
                      2. Pilih <b>Buat iklan guru privat</b> dari menu navigasi. <br>
                      <img 
                        src="https://cdn.discordapp.com/attachments/1037384849905963109/1080962082029187193/navigasi.jpg"
                        alt=""> <br>
                      <img
                        src="https://cdn.discordapp.com/attachments/1037384849905963109/1080962082360524920/navigasi.png"
                        alt="">
                    </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label class="ion-text-wrap">
                      3. Masukkan data yang dibutuhkan dan unggah. Maka postingan lowongan untuk guru privat sudah
                      terpublikasi. <br>
                      <img class="big-foto"
                        src="https://cdn.discordapp.com/attachments/1037384849905963109/1080962085233623121/masukkan_data.jpg"
                        alt="">
                    </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label class="ion-text-wrap">
                      4. Untuk melihat guru privat yang telah mendaftar, pilih <b>Lowongan Saya</b> dari menu navigasi.
                      <br>
                      Setelah itu akan muncul postingan Anda yang telah terpublikasi. Pilih <b>Pendaftar</b>. <br>
                      <img
                        src="https://cdn.discordapp.com/attachments/1037384849905963109/1080962108465893416/pilih_pendaftar.jpg"
                        alt="" class="small-foto"> <br>
                      <img
                        src="https://cdn.discordapp.com/attachments/1037384849905963109/1080962084919070811/lowongan_saya.jpg"
                        alt=""> <br>
                      Maka akan muncul para kandidat yang telah mendaftar pada lowongan Anda. Pilih untuk melihat detail
                      data dirinya.
                      <img class="big-foto"
                        src="https://cdn.discordapp.com/attachments/1037384849905963109/1080962084625461308/list_pendaftar.jpg"
                        alt=""><br>

                      Jika sesuai dengan kriteria, maka dapat menekan tombol Terima. <br>
                      <img class="big-foto"
                        src="https://cdn.discordapp.com/attachments/1037384849905963109/1080962083065167973/detail_pendaftar2.jpg"
                        alt="">
                    </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label class="ion-text-wrap">
                      5. Setelah itu, Anda akan masuk ke halaman <b>Kontrak</b> dimana Anda harus mengisikan kesepakatan
                      dan
                      biaya yang telah disepakati kedua belah pihak,
                      dan memilih Bank untuk melakukan transaksi pembayaran jasa. <br>
                      <img class="big-foto"
                        src="https://cdn.discordapp.com/attachments/1037384849905963109/1080962083593662534/kontrak.jpg"
                        alt="">
                    </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label class="ion-text-wrap">
                      6. <b>Pembayaran dilakukan diawal, </b> Buka <b>Kursus Saya pada navigasi -> Bayar.</b> Lakukan
                      pembayaran dan unggah bukti pembayaran. <br>
                      <br>
                      <img
                        src="https://cdn.discordapp.com/attachments/1037384849905963109/1080962084327653496/kursus_saya.jpg"
                        alt=""> <br>
                      <br>
                      <img
                        src="https://cdn.discordapp.com/attachments/1037384849905963109/1080968969629990982/pilih_bayar.jpg"
                        alt="" class="small-foto"> <br>
                      <img class="big-foto"
                        src="https://cdn.discordapp.com/attachments/1037384849905963109/1080962107652194464/upload_bukti_bayar.jpg"
                        alt="">
                    </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label class="ion-text-wrap">
                      7. Lakukan absen/presensi untuk mencatat selama bimbingan privat berlangsung. <br>
                      <img
                        src="https://cdn.discordapp.com/attachments/1037384849905963109/1080962084327653496/kursus_saya.jpg"
                        alt=""> <br>
                      <br>
                      <img class="small-foto"
                        src="https://cdn.discordapp.com/attachments/1037384849905963109/1080962107866108044/pilih_absen.jpg"
                        alt="">
                    </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label class="ion-text-wrap">
                      8. Untuk mengakhiri kontrak, <b>Kursus Saya -> Akhiri kontrak.</b> Berikan penilaian dan ulasan
                      Anda, lalu tekan tombol Akhiri Kursus. <br>
                      <img
                        src="https://cdn.discordapp.com/attachments/1037384849905963109/1080962084327653496/kursus_saya.jpg"
                        alt=""> <br>
                      <br>
                      <img class="small-foto"
                        src="https://cdn.discordapp.com/attachments/1037384849905963109/1080962108067418142/pilih_akhiri_kontrak.jpg"
                        alt=""><br>
                        <img src="https://cdn.discordapp.com/attachments/1037384849905963109/1080971117302382632/akhiri_kursus.jpg" alt="" class="big-foto">
                    </ion-label>
                    
                  </ion-item>

                </div>
              </ion-row>
            </ion-col>
          </ion-grid>

        </ion-item>

      </ion-card>





    </ion-content>

  </ion-router-outlet>

</ion-app>