<ion-app>
  <ion-header translucent>
    <ion-header>
      <ion-toolbar color="dark">
        <ion-buttons slot="start" style="z-index: 100;">
          <ion-back-button defaultHref="" (click)='registerOrtu=""'></ion-back-button>
        </ion-buttons>
        <ion-title style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;text-align: center;">Daftar Sebagai
          Guru Privat</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-header>
  <ion-content>
    <ion-card>
      <h1>Register Guru Privat</h1>
      <ion-item class="ion-padding">
        <ion-label position="floating">Email</ion-label>
        <ion-input required [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item class="ion-padding">
        <ion-label position="floating">Password</ion-label>
        <ion-input required type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item class="ion-padding">
        <ion-label position="floating">Nama Guru Privat</ion-label>
        <ion-input required [(ngModel)]="nama"></ion-input>
      </ion-item>
      <ion-item class="ion-padding">
        <ion-label>Jenis Kelamin:</ion-label> <br>
        <select required [(ngModel)]="jenisKelamin_dipilih">
          <option value="Pria">Pria</option>
          <option value="Wanita">Wanita</option>
        </select>
      </ion-item>
      <ion-item class="ion-padding">
        <ion-label position="floating">No. Telepon</ion-label>
        <ion-input type="tel" placeholder="888-888-8888" required [(ngModel)]="telepon"></ion-input>
      </ion-item>
      <ion-item>
        <h2>Bidang Keahlian</h2>
        <ion-grid>
          <ion-row >
            <ion-col>
              <ion-list>
              <ion-item  >
                <ion-select [(ngModel)]="keahlian_dipilih"  multiple="true" >
                <ion-select-option *ngFor="let item of keahlian_list"   value="{{item.idkeahlian}}" >{{item.nama}}</ion-select-option>
                <!-- <ion-label>{{item.nama}}</ion-label> -->
              </ion-select>
              </ion-item>
            </ion-list>
            </ion-col>
           
          </ion-row>
        </ion-grid>

          <!-- <select [(ngModel)]="keahlian_dipilih">
            <option *ngFor="let n of keahlian_list" value="{{n.idkeahlian}}">{{n.nama}}</option>
          </select> -->
      </ion-item>
      <ion-item class="ion-padding">
        <ion-label>Jenjang Terakhir:</ion-label> <br>
        <select required [(ngModel)]="jenjang_dipilih">
          <option value="SMA">SMA</option>
          <option value="S1">S1</option>
          <option value="S2">S2</option>
          <option value="S3">S3</option>
        </select>
      </ion-item>
      <ion-item class="ion-padding">
        <ion-label>Tempat Jenjang Terakhir:</ion-label> <br>
        <ion-input type="text" placeholder="Masukkan nama tempat pendidikan terakhir" required
          [(ngModel)]="tempat_pendidikan"></ion-input>
      </ion-item>
      <ion-item class="ion-padding">
        <ion-label>Tanggal Lahir: </ion-label>
        <ion-datetime (ionChange)="setTanggalLahir($event)" presentation="date"></ion-datetime>
      </ion-item>
      <ion-item class="ion-padding">
        <ion-label position="floating">Alamat</ion-label>
        <ion-input required [(ngModel)]="alamat" placeholder="Masukkan alamat anda"></ion-input> <br>
      </ion-item>
      <ion-item class="ion-padding">
        <ion-label position="floating">Kecamatan</ion-label>
        <ion-input required [(ngModel)]="kecamatan" placeholder="Masukkan kecamatan anda"></ion-input> <br>
      </ion-item>
      <ion-item class="ion-padding">
        <ion-label position="floating">Kelurahan</ion-label>
        <ion-input required [(ngModel)]="kelurahan" placeholder="Masukkan kelurahan anda"></ion-input> <br>
      </ion-item>
      <ion-item class="ion-padding">
        <ion-grid>
          <ion-row>
            <ion-label>Titik koordinat lokasi: </ion-label> <br>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Titik koordinat lintang</ion-label>
              <ion-input placeholder="Masukkan titik koordinat lintang" [(ngModel)]="input_x"></ion-input>
            </ion-col>
            <ion-col>
              <ion-label>Titik koordinat bujur</ion-label>
              <ion-input placeholder="Masukkan titik koordinat bujur" [(ngModel)]="input_y"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="ion-padding">
        <ion-label>Upload Gambar</ion-label>
        <ion-input type="file" (change)="onFileSelectedGambar($event)" [(ngModel)]="gambar"></ion-input>
      </ion-item>
      <!-- <ion-item class="ion-padding">
        <ion-label>Upload berkas CV</ion-label>
        <ion-input type="file" (change)="onFileSelectedBerkas($event)" [(ngModel)]="berkas"></ion-input>
      </ion-item> -->
      
      <ion-item class="ion-padding">
        <ion-label>Ceritakan Pengalaman Anda: </ion-label>
        <textarea [(ngModel)]="pengalaman"> </textarea>
      </ion-item>
      <ion-item>
        <ion-button (click)="register_guru_privat()">Register</ion-button>
      </ion-item>
    </ion-card>
  </ion-content>
</ion-app>