<ion-app>
  <router-outlet id="content">
  </router-outlet>

  <ion-menu content-id="content">
    <ion-header>
      <ion-toolbar>
        <h1>
          <ion-title>E-Kursus ● Admin</ion-title>
        </h1>
        <ion-title>Halo , {{nama_login}} </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle>
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label routerLink='/'>Beranda</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label routerLink='/list-penarikan-dana-admin'>Penarikan Dana Guru</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-content>
    <ion-item color="dark">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label (click)='logout()'>Logout</ion-label>
    </ion-item>
  </ion-menu>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h1>{{nama_login}}</h1>
      <h3>Saldo:Rp. {{saldo}}</h3>




      <ion-grid size="3">
        <ion-row>
          <ion-col>
            Judul Lowongan
          </ion-col>
          <ion-col>
            Tanggal bayar
          </ion-col>
          <ion-col>
            Total Bersih
          </ion-col>
          <ion-col>
            Total Bayar
          </ion-col>
          <ion-col>
            Kode Pembayaran
          </ion-col>
          <!-- <ion-col>
    Nama Bank Pembayaran
    </ion-col> -->
          <ion-col>
            Nama orang tua
          </ion-col>
          <ion-col>
            Nama guru privat
          </ion-col>
          <ion-col>
            Bukti Pembayaran
          </ion-col>
          <ion-col>
            Aksi
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let item of list_bayar; let baris=index;">

          <!-- <tr *ngFor="let item of list_bayar; let i=index"> -->
          <ion-col>
            {{item.judul_lowongan}}
          </ion-col>
          <ion-col>
            {{item.tanggal_bayar| date: 'dd/MM/yyyy'}}
          </ion-col>
          <ion-col>
            Rp.{{item.total_bayar_bersih | number }}
          </ion-col>
          <ion-col>
            <ion-label>
              Rp.{{item.total_bayar_bersih+item.kode_pembayaran | number }}
            </ion-label>
          </ion-col>
          <ion-col>
            {{item.kode_pembayaran}}
          </ion-col>
          <!-- <ion-col>
      {{item.bank}}
      </ion-col> -->
          <ion-col>
            {{item.nama_orang_tua}}
          </ion-col>
          <ion-col>
            {{item.nama_guru_privat}}
          </ion-col>
          <ion-col>

            <a href="https://tugas-akhir-bella.my.id/{{item.bukti_bayar}}">Lihat Bukti Pembayaran</a>

          </ion-col>
          <ion-col>

            <ion-button *ngIf="item.status_lunas=='Belum lunas'" (click)="bayarLunas(item.idtransaksi)">
              Lunas</ion-button>
            <ion-button *ngIf="item.status_lunas=='Lunas'" disabled="true"> Lunas</ion-button>

          </ion-col>
          <!-- </tr> -->




        </ion-row>
      </ion-grid>


      <ion-list>
      </ion-list>
    </ion-content>
  </ion-router-outlet>
</ion-app>