<ion-header translucent>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center;">
        Login Tempat Kursus
      </ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header>
<ion-content>
  <ion-card>
    <ion-title>Login</ion-title>
    <div class="form-input ion-padding">
      <ion-item fill="solid">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
    </div>
    <div class="form-input ion-padding">
      <ion-item fill="solid">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="text" [(ngModel)]="password"></ion-input>
      </ion-item>
    </div>
    <div class="button ion-padding">
      <ion-button class="btnlogin" type="submit" expand="block" (click)='login()'>Login</ion-button>
      <p>Belum Punya Akun ?</p>
      <!-- <ion-button expand="block" (click)="registerKursus='terpilih'">Register method</ion-button> -->
      <ion-button class="ion-padding" routerLink="/register-orang-tua">Daftar sebagai Orang Tua</ion-button>
      <br>
      <ion-button class="ion-padding" routerLink="/register-guru-privat">Daftar sebagai Guru Privat</ion-button>
      <br>
      <!-- <ion-button class="ion-padding" (click)="page_login='terpilih'">Daftar sebagai Kursus Privat</ion-button> -->

      <ion-button class="ion-padding" routerLink="/register-tempat-kursus">Daftar sebagai Tempat Kursus</ion-button>
      <ion-button class="ion-padding" routerLink="/register-admin">Daftar sebagai Admin</ion-button>

      <ion-chip *ngIf="login_error">{{login_error}}</ion-chip>
    </div>
  </ion-card>
</ion-content>