<ion-app>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start" style="z-index: 100;">
        <ion-back-button defaultHref="/kumpulan-guru-privat"></ion-back-button>
      </ion-buttons>
      <ion-title style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;text-align: center;">
        <p>Detail Guru</p>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-card>
              <ion-item>
                <ion-grid>
                  <ion-row>
      
                    <img style="width: 150px" src="http://localhost:8888/db_ta/{{gambar}}" alt="">
      
      
      
                  </ion-row>
                  <ion-row><b>{{nama}}</b></ion-row>
                  <ion-row>Usia           : {{usia}} Tahun </ion-row>
                  <ion-row>Jenis Kelamin  : {{jenis_kelamin}} </ion-row>
      
                  <ion-row>Pendidikan     : {{pendidikan}} - {{tempat_pendidikan}}</ion-row>
                  <ion-row>No. Telepon/HP : {{telepon}}</ion-row>
                  <ion-row>Alamat: {{alamat}},  {{kelurahan}}, {{kecamatan}}, {{kota}}, {{provinsi}} </ion-row>
      
      
      
      
                </ion-grid>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-item>
                <ion-grid>
                  <ion-row>
      
                    <ion-title>
                      <ion-label><b>Pengalaman</b></ion-label>
                    </ion-title>
      
      
                  </ion-row>
                  <ion-row>
                    <ion-label text-wrap>{{pengalaman}}</ion-label>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-title>
                      <ion-label><b>Daftar Riwayat Hidup</b></ion-label>
                    </ion-title>
                  </ion-row>
                  <ion-row>
                    <ion-label>
                      Berkas:
      
                      <!-- <a href="https://list-coba.000webhostapp.com/file/{{berkas_cv}}">Download</a> -->
                      <a href="http://localhost:8888/db_ta/file/{{berkas_cv}}">Download</a>
      
                    </ion-label>
                  </ion-row>
                  <!-- <ion-row>
                    <ion-label>Note / Deskripsi diri:</ion-label>
                  </ion-row>
                  <ion-row>
                    <ion-text>{{note}}</ion-text>
                  </ion-row> -->
      
                </ion-grid>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-row>
                <ion-item>
                  <ion-label>
                    <b>History Kontrak Guru Privat</b>
                  </ion-label>
                </ion-item>
              </ion-row>
              <ion-row *ngFor="let item of list_history_kontrak; let i=index">
                <ion-item>
                  <ion-label>{{item.judul}} - {{item.tanggal}}</ion-label>
                </ion-item>
              </ion-row>
            
              <ion-row>
             
              
            
                  <ion-button routerLink="/detail-pesan-ortu-guru/{{idkepada}}">Kirim Pesan</ion-button>
        
             
              
      
              </ion-row>
            </ion-card>
          </ion-col>

          <ion-col class="ion-text-center">
            <ion-card>
              <ion-title>Ulasan</ion-title>
              <ionic-rating-component class="ion-padding-start" [(ngModel)]="valRate"
                readonly="true"></ionic-rating-component>
              <ion-scroll scrollY="true">
                <ion-list *ngFor="let item_komen of komentars; let i=index">
                  <!-- <ion-card> -->
                  <ion-item>
                    <ion-text>{{item_komen.komentar}}</ion-text>
                  </ion-item>
                  <!-- </ion-card> -->
                </ion-list>
              </ion-scroll>
            </ion-card>


          </ion-col>
        </ion-row>
      </ion-grid>
      

    </ion-content>

  </ion-router-outlet>

</ion-app>