<ion-app>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start" style="z-index: 100;">
        <ion-back-button defaultHref="/daftar-lamaran-guru-privat"></ion-back-button>
      </ion-buttons>
      <ion-title style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;text-align: center;">
        <p>Detail Lowongan</p>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="7" class="ion-justify-content-center">
              <ion-row>
                <ion-item> <b>{{judul}}</b> </ion-item>
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-row>
                <ion-item>Pemilik lowongan: {{nama_ortu}}</ion-item>
              </ion-row>
              <ion-row>
                <ion-item>Nomor Telepon: {{telepon}}</ion-item>
              </ion-row>
              <ion-row>
                <ion-item>
                  Bidang pendidikan: {{keahlian}}
                </ion-item>
              </ion-row>
              <ion-row>
                <ion-item>Biaya per bulan: Rp. {{biaya}}</ion-item>
              </ion-row>
              <ion-row>
                <ion-item>Metode: {{metode}}</ion-item>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-item>
              Tanggal Mulai: {{tanggal_mulai}}
            </ion-item>
          </ion-row>
          <ion-row class="ion-padding-top">
            <ion-item>
              Nama siswa:<b>{{nama_siswa}}</b>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-grid>
              <ion-row>
                <ion-item>
                  Deskripsi: {{deskripsi}}
                </ion-item>
              </ion-row>
              <ion-row class="ion-padding-top">
                <ion-item>
                  Jenjang pendidikan siswa: {{jenjang}}
                </ion-item>
              </ion-row>
              <ion-row class="ion-padding-top">
                <ion-item>
                  Banyak Pertemuan:
                  {{banyak_pertemuan}}
                </ion-item>
              </ion-row>
              <ion-row class="ion-padding-top">
                <ion-item>
                  Durasi privat:
                  {{durasi}} Jam
                </ion-item>
              </ion-row>
              <ion-row class="ion-padding-top">
                <ion-item> Jadwal privat: {{jadwal}}
                </ion-item>
              </ion-row>
              <ion-row>
                <ion-item>
                  Alamat:
                  <b>{{alamat}}, Kecamatan {{kecamatan}}, Kelurahan {{kelurahan}}</b>
                </ion-item>
              </ion-row>
              <ion-row>
                <capacitor-google-maps #maps>Loading Google Maps</capacitor-google-maps>
              </ion-row>
            </ion-grid>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-content>
  </ion-router-outlet>
</ion-app>