<ion-app>
  <ion-header translucent>
    <ion-header>
      <ion-toolbar color="dark">
        <ion-buttons slot="start" style="z-index: 100;">
          <ion-back-button defaultHref="/" ></ion-back-button>
        </ion-buttons>
        <ion-title style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;text-align: center;">Register
          Tempat Kursus</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-header>
  <ion-content>
    <ion-card>
      <!-- <h1>Register Tempat Kursus</h1> -->
      <ion-item class="ion-padding">
        <ion-label position="floating">Email</ion-label>
        <ion-input required [(ngModel)]="email" placeholder="contoh@gmail.com"></ion-input>
      </ion-item>
      <ion-item class="ion-padding">
        <ion-label position="floating">Kata Sandi</ion-label>
        <ion-input required type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item class="ion-padding">
        <ion-label position="floating">Nama Tempat Kursus</ion-label>
        <ion-input required [(ngModel)]="nama"  placeholder="Masukkan nama tempat kursus"></ion-input>
      </ion-item>
      <ion-item class="ion-padding">
        <ion-label position="floating">Informasi Tempat Kursus</ion-label>
        <ion-textarea [(ngModel)]="informasi"  placeholder="Masukkan informasi secara detail (Jadwal, Peraturan, List biaya, Metode yang digunakan, dll. )"></ion-textarea>
      </ion-item>
      <ion-item class="ion-padding">
        <ion-label position="floating">Alamat Tempat Kursus</ion-label>
        <ion-input [(ngModel)]="alamat" placeholder="Masukkan alamat tempat kursus. Misal: Jl. Margorejo no.68 B"></ion-input> <br>
      </ion-item>
      <ion-item class="ion-padding">
        <ion-label position="fixed">Provinsi:</ion-label>
        <select required [(ngModel)]="provinsi" (change)="onShowKotaKab($event)">
          <option *ngFor="let item of provinsi_list" value="{{item.id}}_{{item.nama}}">{{item.nama}}</option>
        </select>
      </ion-item>

      <ion-item class="ion-padding">
        <ion-label>Kota: </ion-label>
        <!-- <ion-input [(ngModel)]="kota"></ion-input> -->
        <select required [(ngModel)]="kota" (change)="onShowKecamatan($event)">
          <option *ngFor="let item of kota_list" value="{{item.id}}_{{item.nama}}">{{item.nama}}</option>
        </select>
      </ion-item>
      <ion-item class="ion-padding">
        <ion-label>Kecamatan: </ion-label>
        <select required [(ngModel)]="kecamatan" (change)="onShowKelurahan($event)">
          <option *ngFor="let item of kecamatan_list" value="{{item.id}}_{{item.nama}}">{{item.nama}}</option>
        </select>
        <!-- <ion-input [(ngModel)]="kecamatan"  (change)="onSelectKecamatan($event)"></ion-input> -->
      </ion-item>
      <ion-item class="ion-padding">
        <ion-label>Kelurahan: </ion-label>
        <select required [(ngModel)]="kelurahan">
          <option *ngFor="let item of kelurahan_list" value="{{item.id}}_{{item.nama}}">{{item.nama}}</option>
        </select>
        <!-- <ion-input [(ngModel)]="kelurahan"  (change)="onSelectKelurahan($event)"></ion-input> -->
      </ion-item>
      <ion-item class="ion-padding">
        <ion-label position="floating">No. Telepon</ion-label>
        <ion-input type="tel" placeholder="888-888-8888" required [(ngModel)]="telepon"></ion-input>
      </ion-item>
      <ion-item class="ion-padding">
        <!-- <ion-label>Bidang Keahlian</ion-label> -->
        <ion-grid>
          <ion-col>
            <ion-row>
              <ion-label >Bidang Keahlian</ion-label>
            </ion-row>
            <ion-row>
              <ion-list>
                <ion-item *ngFor="let item of keahlian_list; let i = index" value="{{item.idkeahlian}}">
                    <ion-checkbox [(ngModel)]="keahlianDipilih[i]"></ion-checkbox>
                    <ion-label>{{item.nama}}</ion-label>
                </ion-item>
              </ion-list>
            </ion-row>

          </ion-col>
        </ion-grid>
      </ion-item>
      <div class="ion-padding" *ngIf="image == null">
        <ion-label class="ion-padding" color="danger">Upload berkas file CV Anda</ion-label>
      </div>
      <ion-item class="ion-padding">
        <ion-label>Upload Gambar/Foto Profil</ion-label>
        <ion-input type="file" (change)="onFileSelected($event)" [(ngModel)]="gambar"></ion-input>
      </ion-item>

      <div class="ion-padding" *ngIf="file == null">
        <ion-label class="ion-padding" color="danger">Upload berkas file CV Anda</ion-label>
      </div>
      <ion-item class="ion-padding">
        <ion-label text-wrap>Upload data tambahan (Misal: Surat resmi, Foto tambahan, Dokumen lainnya):</ion-label>
        <ion-input required type="file" accept="application/pdf" (change)="onFileSelected2($event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-button (click)="register()">Registrasi</ion-button>
      </ion-item>
    </ion-card>
  </ion-content>
</ion-app>