<ion-app>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start" style="z-index: 100;">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;text-align: center;">
        <p>Detail Lowongan</p>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <!-- <ion-col size="7" class="ion-justify-content-center"> -->
            <ion-col size-lg="6" size-sm="12" size-md="12" size-xs="12" class="ion-justify-content-center">

              <ion-row>
                <ion-item> <b>Lowongan Privat {{judul}}</b> </ion-item>
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-row>
                <ion-item>Pemilik lowongan: {{nama_ortu}}</ion-item>
              </ion-row>
              <ion-row>
                <ion-item>
                  Bidang pendidikan: {{keahlian}}
                </ion-item>
              </ion-row>
              <ion-row>
                <ion-item> Biaya per bulan: Rp. {{biaya}}</ion-item>
              </ion-row>
              <ion-row>
                <ion-item>Metode: {{metode}}</ion-item>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card>
        <ion-item>
          <b text-wrap>Tanggal Mulai: {{tanggal_mulai}}</b>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>
            Deskripsi:
            {{deskripsi}}
          </ion-label>
        </ion-item>
        <ion-item>
          Jenjang pendidikan siswa:
          <ion-label text-wrap>{{jenjang}}</ion-label>
        </ion-item>
        <ion-item>
          Banyak Pertemuan:
          <ion-label>{{banyak_pertemuan}}</ion-label>
        </ion-item>
        <ion-item>
          Durasi privat:
          <ion-label>{{durasi}} Jam</ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap> Jadwal privat:{{jadwal}} </ion-label>
        </ion-item>
        <ion-item>
          <capacitor-google-maps #maps>Loading google maps</capacitor-google-maps>
        </ion-item>

        <ion-item class="ion-padding">
          <ion-button routerLink="/lamar-lowongan/{{idlowongan}}"> Lamar Pekerjaan </ion-button>
          <!-- <ion-button routerLink="/detail-pesan-guru-privat/{{idorang_tua}}">Kirim Pesan</ion-button> -->
        </ion-item>
      </ion-card>
    </ion-content>
  </ion-router-outlet>
</ion-app>