<ion-app >
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start" style="z-index: 100;">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;text-align: center;">
        <p>Detail Lowongan</p>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-grid>
              <ion-row>
                <ion-item>Lowongan Privat {{judul}}</ion-item>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>👤 {{nama_ortu}}</ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    ✍🏻 {{keahlian}}
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>💵 Rp. {{biaya}}</ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>Metode: {{metode}}</ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-item>
              <b>Tanggal Mulai: {{tanggal_mulai}}</b>

            </ion-item>
          </ion-row>
          <ion-row>
            <ion-grid>
              <ion-row>
                <ion-item>
                  {{deskripsi}}
                </ion-item>
              </ion-row>
              <ion-row class="ion-padding-top">
                <ion-item>
                 Jenjang pendidikan siswa:
                  <ion-label>{{jenjang}}</ion-label>
                </ion-item>

              </ion-row>
              <ion-row class="ion-padding-top">
                <ion-item>
                 Banyak Pertemuan: 
                  <ion-label>{{banyak_pertemuan}}</ion-label>
                </ion-item>

              </ion-row>
              <ion-row class="ion-padding-top">
                <ion-item>
                 Durasi privat: 
                  <ion-label>{{durasi}} Jam</ion-label>
                </ion-item>

              </ion-row>
              <ion-row class="ion-padding-top">
             
               <ion-item>  Jadwal privat:</ion-item>
                <ion-list>
                  <ion-item *ngFor="let item of jadwal; let i=index">
                    <ion-label>{{item.hari}} Pukul {{item.jam_awal}} Sampai {{item.jam_akhir}}</ion-label>

                  </ion-item>

                </ion-list>



              </ion-row>
              <ion-row>
                <capacitor-google-maps #maps>sss</capacitor-google-maps>

              </ion-row>
              <ion-row>
                <ion-button  routerLink="/lamar-lowongan/{{idlowongan}}"> Lamar Pekerjaan </ion-button>

                <!-- <ion-button *ngIf="item.status_pendaftar== 'Belum diterima'" routerLink="/lamar-lowongan/{{idlowongan}}"> Lamar Pekerjaan terkirim</ion-button> -->
              </ion-row>
            </ion-grid>


          </ion-row>
        </ion-grid>


      </ion-card>

      <!-- <ion-grid>
        <ion-col  style="height: 100%; ">



          <ion-row size="auto">
            <img style="width: 150px" src="http://localhost:8888/db_ta/gambar/{{gambar}}" alt="">
          </ion-row>
          <ion-row>
            <h1>{{nama}}</h1>
          </ion-row>
          <ion-row>
            <h3>Informasi:</h3>
          </ion-row>
          <ion-row>
            <p>{{informasi}}</p>
          </ion-row>
          <ion-row>
            <h3>Alamat:</h3>
          </ion-row>
          <ion-row>
            <p>{{alamat}}, Kelurahan {{kelurahan}}, Kecamatan {{kecamatan}}</p>
          </ion-row>
          <ion-row>
          <capacitor-google-maps #maps>sss</capacitor-google-maps>

          </ion-row>
        </ion-col>

      </ion-grid> -->

    </ion-content>

  </ion-router-outlet>

</ion-app>