<ion-app>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start" style="z-index: 100;">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;text-align: center;">
        <p>Buka Lowongan</p>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card>
        <ion-item class="ion-padding">
          <ion-label text-wrap position="floating">Judul Lowongan Guru Privat:</ion-label>
          <ion-input [(ngModel)]="judul_lowongan" placeholder="Masukkan judul. Misal: Dicari Guru Matematika"></ion-input>
        </ion-item>
        <ion-item class="ion-padding">
          <ion-label position="floating">Deskripsi lowongan:</ion-label>
          <ion-input [(ngModel)]="deskripsi_lowongan" placeholder="Masukkan informasi. Misal: Minimal S1, Lampirkan sertifikat, dll. "></ion-input>
        </ion-item>
        <ion-item class="ion-padding">
          <ion-label position="fixed">Jenjang <br>Pendidikan <br>Siswa:</ion-label>
          <select required [(ngModel)]="jenjang_dipilih">
            <option value="PAUD">PAUD</option>
            <option value="TK">TK</option>
            <option value="SD">SD</option>
            <option value="SMP">SMP</option>
            <option value="SMA">SMA</option>
            <option value="UMUM">UMUM</option>
          </select>
        </ion-item>
        <ion-item class="ion-padding">
          <ion-label position="fixed">Kategori <br>Keahlian:</ion-label>
          <select [(ngModel)]="kategori_dipilih">
            <option *ngFor="let n of keahlian_list" value="{{n.idkeahlian}}">{{n.nama}}</option>
          </select>
        </ion-item>
        <ion-item class="ion-padding">
          <ion-label position="fixed">Metode</ion-label>
          <select required [(ngModel)]="metode_dipilih">
          
            <option value="Online/Daring">Online / Daring</option>
            <option value="Offline/Tatap muka">Offline / Tatap muka</option>
          </select>
        </ion-item>

        <ion-item class="ion-padding">
          <ion-label>Durasi kursus privat (Jam):</ion-label>
          <ion-input placeholder="Contoh: 2" type="number" min="1" [(ngModel)]="durasi_lowongan"></ion-input>
        </ion-item>
        <ion-item class="ion-padding">
          <ion-label text-wrap position="fixed">Banyak pertemuan (Per minggu):</ion-label>
          <!-- <ion-input type="number" min="1" max="7" [(ngModel)]="banyak_pertemuan"></ion-input> -->
          <select required [(ngModel)]="banyak_pertemuan">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
          </select>
        </ion-item>
        <ion-item class="ion-padding">
          <ion-label  position="floating">Jadwal:</ion-label>
          <ion-input [(ngModel)]="jadwal_kursus" placeholder="Contoh: Jam 15.00 s/d 17.00, Senin dan Rabu"></ion-input>
        </ion-item>

        <ion-item class="ion-padding">
          <ion-label>Biaya Jasa per bulan: <br>
            Rp.
          </ion-label>
          <ion-input placeholder="125000" [(ngModel)]="biaya_jasa"></ion-input>
        </ion-item>

        <ion-item class="ion-padding">
          <ion-label >Tanggal mulai: </ion-label>
          <ion-datetime (ionChange)="setTanggalMulai($event)" presentation="date"></ion-datetime>
        </ion-item>
        <ion-item class="ion-padding">
          <ion-label position="floating">Alamat Orang tua:</ion-label>
          <ion-input [(ngModel)]="alamat" placeholder="Masukkan alamat anda"></ion-input> <br>
        </ion-item>
        <ion-item class="ion-padding">
          <ion-label position="floating">Provinsi:</ion-label>
          <ion-input [(ngModel)]="provinsi" placeholder="Masukkan Provinsi. contoh: Jawa Barat" ></ion-input>
        </ion-item>
        <ion-item class="ion-padding">
          <ion-label position="floating">Kota: </ion-label>
          <ion-input [(ngModel)]="kota" placeholder="Masukkan Kota. contoh: Kota Jakarta"></ion-input>
        </ion-item>
        <ion-item class="ion-padding">
          <ion-label position="floating">Kecamatan: </ion-label>
          <ion-input [(ngModel)]="kecamatan" placeholder="Masukkan Kecamatan.contoh: Kecamatan kelapa Gading"></ion-input>
        </ion-item>
        <ion-item class="ion-padding">
          <ion-label position="floating">Kelurahan: </ion-label>
          <ion-input [(ngModel)]="kelurahan" placeholder="Masukkan kelurahan.contoh: Kelapa Gading Timur"></ion-input>
        </ion-item>
        <ion-item class="ion-padding">
          <ion-button (click)="submit()">Unggah Iklan Lowongan</ion-button>
        </ion-item>

      </ion-card>
    </ion-content>

  </ion-router-outlet>

</ion-app>