<ion-app>
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start" style="z-index: 100;">
        <ion-back-button defaultHref="/pendaftar-lowongan/{{idLowongan}}"></ion-back-button>
      </ion-buttons>
      <ion-title style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;text-align: center;">
        <p>Detail Pendaftar</p>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-grid>
        <ion-row>
          <!-- <ion-col size="8"> -->
          <ion-col size-lg="6" size-sm="12" size-md="12" size-xs="12">
            <ion-card>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <img style="width: 150px" src="https://tugas-akhir-bella.my.id/{{gambar}}" alt="">
                  </ion-row>
                  <ion-row><b>{{nama}}</b></ion-row>
                  <ion-row>{{usia}} Tahun ({{jenis_kelamin}} )</ion-row>
                  <ion-row>{{pendidikan}} - {{tempat_pendidikan}}</ion-row>
                  <ion-row>Berkas Profil Guru:
                    <a href="https://tugas-akhir-bella.my.id/{{berkas_profil_guru}}">Download</a>
                  </ion-row>
                  <ion-row>
                    No Telepon: {{telepon}}
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-title>
                      <b>Pengalaman</b>
                    </ion-title>
                  </ion-row>
                  <ion-row>
                    <ion-label class="ion-text-wrap">{{pengalaman}}</ion-label>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-title>
                      <ion-label><b>Data Lamaran</b></ion-label>
                    </ion-title>
                  </ion-row>
                  <ion-row>
                    <ion-label>
                      Berkas:
                      <a href="https://tugas-akhir-bella.my.id/{{berkas_pendaftar}}">Download</a>
                    </ion-label>
                  </ion-row>
                  <ion-row>
                    <ion-label>Note / Deskripsi diri:</ion-label>
                  </ion-row>
                  <ion-row>
                    <ion-text>{{note}}</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-label>Biaya tawar / nego:</ion-label>
                    <ion-text> <b> Rp. {{biaya_tawar}} </b></ion-text>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-card>
            <ion-card>
              <ion-row>
                <ion-item>
                  <ion-label>
                    <b>History Kontrak Guru Privat</b>
                  </ion-label>
                </ion-item>
              </ion-row>
              <ion-row *ngFor="let item of list_history_kontrak; let i=index">
                <ion-item>
                  <ion-label text-wrap>{{item.judul}} - {{item.tanggal | date: 'dd/MM/yyyy'}}</ion-label>
                </ion-item>
              </ion-row>
              <ion-row>
                <ion-item class="ion-padding">
                  <ion-button routerLink="/detail-pesan-ortu-guru/{{idPendaftar}}">Kirim Pesan</ion-button>
                  <ion-button (click)="terima()">Terima</ion-button>
                </ion-item>

              </ion-row>
            </ion-card>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-card>
              <ion-title>Ulasan</ion-title>
              <ionic-rating-component class="ion-padding-start" [(ngModel)]="valRate"
                readonly="true"></ionic-rating-component>
              <ion-scroll scrollY="true">
                <ion-list *ngFor="let item_komen of komentars; let i=index">
                  <ion-item>
                    <ion-label class="ion-text-wrap">{{item_komen.komentar}}</ion-label>
                  </ion-item>
                </ion-list>
              </ion-scroll>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-router-outlet>
</ion-app>