<ion-app>
  <router-outlet id="content">
  </router-outlet>

  <ion-menu content-id="content">
    <ion-header>
      <ion-toolbar>
        <h1>
          <ion-title>E-Kursus ● Orang Tua</ion-title>
        </h1>
        <ion-title>Halo , {{nama}} </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle>
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label routerLink='/'>Beranda</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="send-outline" slot="start"></ion-icon>
          <ion-label routerLink='/list-pesan-tempat-kursus/{{id}}'>Pesan Anda </ion-label>
        </ion-item>

        <ion-item>
          <ion-icon name="send-outline" slot="start"></ion-icon>
          <ion-label routerLink='/pengaturan-tempat-kursus'>Pengaturan Profil </ion-label>
        </ion-item>

      </ion-menu-toggle>
    </ion-content>
    <ion-item color="dark">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label (click)='logout()'>Logout</ion-label>
    </ion-item>
  </ion-menu>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <h1 class="ion-text-center">Profil Tempat Kursus, Halaman Home </h1>
            <img src="http://localhost:8888/db_ta/{{gambar}}" alt="">
            <h3>Email:</h3>
            <ion-textarea [readonly]="true">{{email_profil}}</ion-textarea>
            <h3>Nama:</h3>
            <ion-textarea [readonly]="true">{{nama}}</ion-textarea>
            <h3>Informasi:</h3>
            <ion-textarea class="ion-text-wrap" [readonly]="true">{{informasi}}</ion-textarea>
            <h3>Keahlian</h3>
            <ion-grid>
              <ion-row *ngFor="let item of detail_keahlian">
                {{item.nama}}
              </ion-row>
  
            </ion-grid>
            <h3>Dokumen Tambahan:</h3>
            <a href="http://localhost:8888/db_ta/{{dokumen_tambahan}}">Lihat Dokumen</a>
            <h3>Alamat:</h3>
            <ion-textarea class="ion-text-wrap" [readonly]="true">{{alamat}}, Kecamatan {{kecamatan}}, Kelurahan
              {{kelurahan}}
            </ion-textarea>
            <ion-item class="ion-padding">
              <capacitor-google-maps #maps>sss</capacitor-google-maps>
            </ion-item>
          </ion-col>

          <ion-col class="ion-text-center">
            <ion-title>Ulasan</ion-title>
            <ionic-rating-component class="ion-padding-start" [(ngModel)]="valRate"
              readonly="true"></ionic-rating-component>
            <ion-scroll scrollY="true">
            <ion-list *ngFor="let item of komentars; let i=index">
                <!-- <ion-card> -->
                  <ion-item>
                    <ion-text>{{item.komentar}}</ion-text>
                  </ion-item>
                <!-- </ion-card> -->
            </ion-list>
          </ion-scroll>
  
          </ion-col>
        </ion-row>
        
      </ion-grid>

    </ion-content>
  </ion-router-outlet>
</ion-app>